[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = git://github.com/KrisBuytaert/puppet-rabbitmq.git
[submodule "modules/logstash"]
	path = modules/logstash
	url = git@github.com:KrisBuytaert/puppet-logstash.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = git@github.com:KrisBuytaert/puppet-elasticsearch.git
[submodule "modules/grok"]
	path = modules/grok
	url = git@github.com:KrisBuytaert/puppet-grok.git
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/Inuits/puppet-apache.git
[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "modules/kibana"]
	path = modules/kibana
	url = git@github.com:KrisBuytaert/puppet-kibana.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = git@github.com:KrisBuytaert/puppet-rsyslog.git
[submodule "modules/passenger"]
	path = modules/passenger
	url = ssh://git@redmine.inuits.eu:2223/puppetmaster/modules/passenger-ng.git
